 body{
 	padding: 6px;
 }

body, footer
{

	border: 2.5px dotted;
	border-color: blue;
	width: 55%;
	margin: auto;

}

li{
	border:2px dotted ;
	display:inline;
	margin-right:30px;
}
p {
	text-align: justify;
}

.slist {
	display:list-item;

}

aside {
	float: right;
	width: 300px;
	height: 80%;

}
footer {

	position: absolute;
	bottom: 3px;
	
}
#footer {
	text-align: center;
}
a{
	color: blue;
}
